<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="remotelogClient" type="Remotelog.Net.Client.LogConfigHandler, Remotelog.Net.Client" />
  </configSections>

  <remotelogClient name="testlog" endpoint="http://localhost:59764/api/log/" />

  <startup> 
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
</configuration>
